<div id="conversations-modal">
    <div id="modal-content">
        <div class="d-flex justify-content-between">
            <h2>Messages</h2>
            <button id="close-conversations-modal-button" type="button" class="btn btn-outline-secondary">Close</button>
        </div>
        <div class="row">
            <div class="col-4">
                <h1>List of conversations (working)</h1>
                <% @conversations.each do |conversation| -%>
                    <div class="conversation-list-item">
                        <%= link_to conversation.recipient(current_user).first_name, conversation_messages_path(conversation) -%>
                        <% if !conversation.unread_message_count(current_user).zero? -%>
                        <%= conversation.unread_message_count(current_user) -%>
                        <% end -%>
                    </div>
                <% end -%>
            </div>
            <div class="col-8">
                <div id="displayed-conversation"></div>
            </div>
        </div>
    </div>
</div>