<div id="inbox">
	<div id="inbox-title">
		<div id="inbox-button" class="btn-group dropup">
			<button type="button" class="btn btn-secondary dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
			Inbox
			</button>
			<div class="dropdown-menu">
				<div class="dropdown-item" id="all-messages-show-button">All messages</div>
				<div class="dropdown-item" id="expand-inbox-button">Expand</div>
				<div class="dropdown-item" id="collapse-inbox-button">Collapse</div>
			</div>
		</div>
	</div>
	<div id="conversations-list">
	  <% @conversations.each do |conversation| -%>
	  	<div class="conversation-list-item">
		    <%= link_to conversation.recipient(current_user).first_name, conversation_messages_path(conversation) -%>
		    <% if !conversation.unread_message_count(current_user).zero? -%>
		      <%= conversation.unread_message_count(current_user) -%>
		    <% end -%>
		  </div>
	  <% end -%>
	</div>
</div>
