.mapboxgl-popup {
  max-width: 200px;
}

.mapboxgl-popup-content {
  text-align: center;
  font-family: 'Open Sans', sans-serif;
}

.marker-pet-photo {
  max-width: 200px;
}

.marker-pet-description {
  font-family: "Work Sans", "Helvetica", "sans-serif";
}

.marker-pet-description {
  margin-bottom: 0rem;
}

.mapboxgl-popup-content {
  padding: 5px;
}
