#temp-map-div {
  width: 100%;
}

#temp-map-image {
  width: 100%;
}

.card-text {
  color: black;
}

.card:hover {
  opacity: 50%;
}

h4 {
  color: black;
}

.all-pets-btn {
  color: black;
}


.container, .container-sm, .container-md, .container-lg, .container-xl {
  max-width: 1600px;
}

@import "show";
